@import '../../../../assets/scss/varibles.scss';
.noDataFound{
    height: calc(100vh - 200px) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LoadingButton{
    background-color: $primary-color;
    margin-left: 20px;
}
.loader {
    border: 1px solid black; /* Light grey */
    border-top: 1px solid  $primary-color; /* Blue */
    border-radius: 50%;
    width:10px;
    height: 10px;
    animation: spin 2s linear infinite;
    margin-left: 10px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }