<nav class="navbar noMarginPadding ">

  <div class="col-sm-6  col-md-6 col-xs-6 col-lg-6 alingCenterline noMarginPadding">

    <img  class="logo" src =" ./assets/shikshalokam.png" >
    <!-- <mat-card-title class="pageBrand">
      <strong>{{ 'brand' | translate }}</strong>
    </mat-card-title> -->
      </div>

  <!-- <div class="col-sm-4 mod ">
       <mat-card-title style="font-size:18px; color:gray; text-align: center;" >
        Sikhshalocham Samikhsa 
          <mat-icon svgIcon="thumbs-up" style="font-size:29px; color: gray;">
          </mat-icon>
      </mat-card-title> 
    </div> -->

  <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6 ">
    <span class="right">
        <button mat-icon-button (click)="openDropdown()">
            <i class="material-icons">
                apps
                </i>
          </button>
      
          <div id="overlay" (click)="openDropdown()" *ngIf="showDropdown">
            <div class="dropdownDiv">
              <div class="col-sm-3 dropdownFeature">
                  <div class="verticalCenteralign">
                    <div class="apple" >
                      <i class="material-icons" id="whiteIcon">
                        create
                      </i>
                    </div>
                    <div class="active">
                      {{'menuDropdown.myApps' | translate}}
                    </div>
                  </div>
              </div>
            </div>
          </div>
      
    <span mat-button [matMenuTriggerFor]="menu" class="alingCenterline _cursor-pointer">
      <span class="brand ">
        <mat-card-subtitle class="pageMenu">
          <span class="brand ">{{currentUser?.name}}</span>
        </mat-card-subtitle>
      </span>
      <i class="material-icons brand icon">
        keyboard_arrow_down
      </i>
    </span>
    <mat-menu #menu="matMenu">
      <span mat-menu-item class="matmenuIcon">
          <i class="material-icons">
              supervised_user_circle
          </i>
          <span class="padding">{{currentUser?.email}}</span>
      </span>
      <mat-divider></mat-divider>
      <span mat-menu-item  class="matmenuIcon black">
        <i class="material-icons">
          done
        </i>
        <span class="padding">{{currentUser?.name}}</span>
      </span>
      <mat-divider></mat-divider>
      <span mat-menu-item class="padding" (click)="onSignout()">
        <span class="bigPadding black">
            {{'menuDropdown.signOut' | translate}}
        </span>
      </span>
    </mat-menu>
    <!-- <div class="right horizontalLine">
      <i class="material-icons brand helpIcon">
        help_outline
      </i>
    </div> -->
</span>

  </div>
</nav>