@import '../../../../assets/scss/varibles.scss';

.container{
    height:100%;
}
.unorder-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:0px;
    flex-wrap: wrap;
    margin-top:50px;
    li{
       margin-right:5%;
       margin-left:5%;
       margin-bottom: 8%;
       vertical-align: middle;
       border-radius: 30px;
        height:150px;
        width:150px;
        text-align: center;
        font-size:1.2em;
        color:$primary-color;
       background-image: linear-gradient(to top,#e8eced 10%,$white-color);
       border: 1px solid $grey-color;
        cursor: pointer;
        i{
            font-size:5em;
            vertical-align: middle;
            line-height: 150px;
       }
    }
}

.context{
    color:$grey-color;
    font-size:1em;
    margin-top:20px;
    width:150px;
}