<div class="horizontalLine">
  <span class=" alingCenterlineParentHeading">
    <div>
      <h4 class="primaryColor">{{schoolName}}</h4>
    </div>
    <!-- <span *ngIf="genericHeading == 'headings.parentListHeading' && atleastOneComplete"><button mat-raised-button  class=" btnColor "(click)="openDialog()">{{'buttons.markasComplete' | translate}}</button></span> -->
    <span *ngIf="genericHeading == 'headings.parentListHeading' && atleastOneComplete"><span class=" active " (click)="openDialog()">{{'buttons.markasComplete'
        | translate}}</span></span>
  </span>
  <mat-divider *ngIf="schoolName || schoolNameDivider" class="Margin noPadding"></mat-divider>
  <!-- <span class="alingCenterline smallMargin"  *ngIf="!showControl"> -->
  <span class="alingCenterline smallMargin">
    <span *ngIf="!showControl">
    <button class="noPadding" mat-button (click)="onBack()"><i class="material-icons">
        keyboard_arrow_left
      </i>
      <span>Back</span>
    </button>
  </span>
    <span class="heading  space noMargin space" *ngIf="genericHeading">
      {{ genericHeading | translate}}
    </span>

  </span>
</div>