.roundedCard{
    display: flex;
    align-items: center;
    margin:10px;
    height:  130px;
    border: 2px solid #bababa;
    border-radius: 5px;
    width: 130px;
    background-color: #ebebeb;
}
.imageCard{
    width: 126px;
    height: auto;
}
.card{
    display: inline-block;
}