// @import '../assets/scss/responsive.scss';
.noMarginPadding {
    margin: 0px;
    padding: 0px;
}

.horizontalLine {
    position: relative;
}
.toolBar{
    height: 50px;
    background-color: transparent;
}
.responsiveNavbar{
    display: none;
}
.horizontalLine:after {
    content: "";
    background: lightgrey;
    position: absolute;
    top: 0%;
    right: 0px;
    height: 100%;
    width: 1px;
}

.sideDiv {
    width: 250px;
    float: left;
    display: block;
    height: calc(100vh - 52px);
}

.routingDiv {
    position: relative;
    height: calc(100vh - 52px);
    width: calc(100% - 250px);
    float: right;
    overflow-y: auto;
}

.headerDiv {
    height: 52px;
}

.completeDiv {
    height: 100vh;
}

.bodyDiv {
    height: calc(100vh - 52px) !important;
}
// .padding{
//     padding: 0px 20px;
// }