// @import '../assets/scss/responsive.scss';
.noMarginPadding {
    margin: 0px;
    padding: 0px;
}
#overlay {
    position: fixed;
    display: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transperent;
    z-index: 101;
    //  cursor: pointer;
}
.horizontalLine {
    position: relative;
}
.toolBar{
    height: 50px;
    background-color: transparent;
}
.responsiveNavbar{
    display: none;
}
.horizontalLine:after {
    content: "";
    background: lightgrey;
    position: absolute;
    top: 0%;
    right: 0px;
    height: 100%;
    width: 1px;
}

.sideDiv {
    width: 250px;
    float: left;
    display: block;
    height: calc(100vh - 52px);
}

.routingDiv {
    position: relative;
    height: calc(100vh - 52px);
    width: calc(100% - 250px);
    float: right;
    overflow-y: auto;
}

.headerDiv {
    height: 52px;
}

.completeDiv {
    height: 100vh;
}

.bodyDiv {
    // height: calc(100vh - 52px) !important;
    height: calc(100vh - 92px) !important;

}
