<div class="container-fluid">
  <div class="row completeDiv">
      <mat-toolbar class="toolBar noMarginPadding">
          <div class="col-xs-12 ">
                <app-navbar ></app-navbar>
                <app-responsive-navbar  (openDrawer)="drawer.toggle()"></app-responsive-navbar>
          </div>
      </mat-toolbar>
      <mat-divider class="noMarginPadding"></mat-divider>
      <mat-drawer-container class="example-container bodyDiv" autosize>
            
        <mat-drawer  #drawer class="example-sidenav sideDiv" mode="side" [(opened)]="opened"> 
                    <div *ngFor= "let link of links" > 
                            <app-sidenav [link] = "link" ></app-sidenav>
                    </div>
            </mat-drawer>

           
            <div class="example-sidenav-content ">
              <router-outlet></router-outlet>
            </div>
          
          </mat-drawer-container>

  </div>
</div>




