@import '../../../assets/scss/varibles.scss';
.noMarginPadding {
    margin: 0px;
    padding: 0px;
}
.horizontalLine {
    position: relative;
}

.toolBar{
    height: 50px;
    background-color: transparent;
}
.marginTop{
    margin : 10px 10px;
}
.horizontalLine:after {
    content: "";
    background: lightgrey;
    position: absolute;
    top: 0%;
    right: 0px;
    height: 100%;
    width: 1px;
}

.sideDiv {
    width: 250px;
    float: left;
    display: block;
    height: calc(100vh - 52px);
}

.routingDiv {
    position: relative;
    height: calc(100vh - 52px);
    width: calc(100% - 250px);
    float: right;
    overflow-y: auto;
}

.headerDiv {
    height: 52px;
}

.completeDiv {
    height: 100vh;
}
.flex-box-justify-content-center{
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.margin{
    margin: 20px;
}

.bodyDiv {
    height: calc(100vh - 92px) !important;
}

.container{
    height:100%;
    width: calc(100% - 250px);
    float:right;
}
.context{
    color:$black-color;
    font-size:1em;
    margin-top:20px;
    width:150px;
}

.ass-heading{
    text-align: center;
    font-size:1.5em;
    padding-top:30px;
}
.iconSize{
    font-size: 40px;
    color:$grey-color;
}







