@import '../../../assets/scss/varibles.scss';
.noMarginPadding {
    margin: 0px;
    padding: 0px;
}
.horizontalLine {
    position: relative;
}

.toolBar{
    height: 50px;
    background-color: transparent;
}
.horizontalLine:after {
    content: "";
    background: lightgrey;
    position: absolute;
    top: 0%;
    right: 0px;
    height: 100%;
    width: 1px;
}

.sideDiv {
    width: 250px;
    float: left;
    display: block;
    height: calc(100vh - 52px);
}

.routingDiv {
    position: relative;
    height: calc(100vh - 52px);
    width: calc(100% - 250px);
    float: right;
    overflow-y: auto;
}

.headerDiv {
    height: 52px;
}

.completeDiv {
    height: 100vh;
}

.bodyDiv {
    height: calc(100vh - 52px) !important;
}
// .padding{
//     padding: 0px 20px;
// }



// for body ------------------------------------------------------

.container{
    height:100%;
    width: calc(100% - 250px);
    float:right;
}
.unorder-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:0px;
    flex-wrap: wrap;
    margin-top:50px;
    li{
       margin-right:5%;
       margin-left:5%;
       margin-bottom: 8%;
       vertical-align: middle;
       border-radius: 30px;
        height:150px;
        width:150px;
        text-align: center;
        font-size:1.2em;
        background-color: beige;
        color:white;
        background: -webkit-gradient(linear, 0% 40%, 0% 100%, from($blue-gradient), to($dark-blue));
        cursor: pointer;
        i{
            font-size:5em;
            vertical-align: middle;
            line-height: 150px;
       }
    }
}

.context{
    color:$black-color;
    font-size:1em;
    margin-top:20px;
    width:150px;
}

.ass-heading{
    text-align: center;
    font-size:1.5em;
    padding-top:30px;
}











