    <div class="container-fluid">
  <div class="row completeDiv">
        <mat-toolbar class="toolBar noMarginPadding">
                <div class="col-xs-12">
                      <app-navbar ></app-navbar>
                      <app-responsive-navbar ></app-responsive-navbar>
                </div>
            </mat-toolbar>
      <mat-divider class="noMarginPadding"></mat-divider>
            
      <div class="bodyDiv">
              
          <div class="sideDiv horizontalLine">
              <div *ngIf="programData"> 
                    <app-program-sidenav  [result] = "programData" (program)="setCurrentAssessment($event)"></app-program-sidenav>
              </div>
          </div>
          <div class="container">
                <div class="ass-heading">Assessments</div>
              <div class="row">
                  <div class="col">
                      <ul class="unorder-list" >
                          <li *ngFor="let assessment of currentAssesssment; let i=index" class="icons">
                                <i class="material-icons" (click)="programClick(assessment)">done</i>
                                <div class="context">
                                    {{assessment?.name}}
                                </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>   
      </div>
  </div>
</div>






