<div [formGroup]="genericForm" *ngIf="genericForm">
  <div formArrayName="question" >
    <div *ngFor="let arrayOption of genericData.array; let i = index" class="_flex-box _justify-content-center" >
      <mat-form-field class="col-sm-11 fixSize _halfWidth">
          <input matInput type="text" value="{{arrayOption.value}}" placeholder="{{genericData.label}} " formControlName="{{i}}"
          required>
      </mat-form-field>
      

        <button class ="col-sm-1"*ngIf="questionCount >1" mat-raised-button (click)="editQuestion(i)" color="warn">
              
            <i class="material-icons">
                close
                </i>
          </button>
        </div>
    
  </div>
  <button mat-raised-button (click)="editQuestion('add')" class="_primary-btn btn-margin">
              
      {{'buttons.addNew'| translate}}
      <i class="material-icons">
          add
          </i>
    </button>
    <button mat-raised-button *ngIf="questionCount>1"(click)="editQuestion('reset')" color="warn" [disabled]=" optionCount<2" class="btn-margin">
              
        {{'buttons.removeAll'| translate}}
        <i class="material-icons white">
            delete_forever
            </i>
      </button>
</div>