    <app-loader></app-loader>
    <div *ngIf="!error">
      <app-parent-heading [genericHeading]="headings"></app-parent-heading>
      <div *ngIf=" result > 0  && !smallScreen" class="bigTabel" (window:resize)="onResize($event)">
        <mat-form-field [floatLabel]="'never'" class=" _full-width">
          <input class="filterInput" id="search" matInput  appSearch [searchValue]="searchValue" (sendSearchValue)="searchInApi($event)" placeholder="{{'search'| translate}}" (keyup)="applyFilter($event.target.value)" >
        </mat-form-field>
        <div class="example-container mat-elevation-z8 ">
          <div class="tableContainer">
            <table mat-table [dataSource]="dataSource" matSort class="_contentMiddle ">
              <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'tableLabel.role'| translate}} </th>
                <td mat-cell *matCellDef="let element"><div class="capitalise"> {{element.role | blank}} </div></td>
              </ng-container>
              <ng-container matColumnDef="_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'tableLabel._id'| translate}} </th>
                <td mat-cell *matCellDef="let element"><div class="capitalise">  {{element._id | blank}}</div> </td>
              </ng-container>
              <ng-container matColumnDef="externalId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'tableLabel.externalId'| translate}}</th>
                <td mat-cell *matCellDef="let element"><div class="capitalise"> {{element.externalId | blank}}</div></td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[100,50,500]" showFirstLastButtons [pageIndex]="pageIndex" [pageSize]="pageSize" [length]="length" (page)="pageEvent($event)"></mat-paginator>
        </div>
      </div>
      <div *ngIf=" result > 0 && smallScreen" class="_responsiveTabel" (window:resize)="onResize($event)">
        <div *ngFor="let assessor of assessorList" class=" margin">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="textOverflow">
                Name : {{assessor.role}}
              </mat-panel-title>
              <mat-panel-description class="textOverflow">
                Exernal-Id : {{assessor.externalId}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let key of objectKeys(assessor)">
              <div *ngIf="key == 'city' || key == 'state'">
                {{key | camelcase}} : {{assessor[key]}}
              </div>
            </div>
            <div class="flexRight">
              <div class="active " *ngIf="!(assessor.isParentInterviewCompleted) ; else complete" [routerLink]="['/parent/parent-list' ,assessor.name,assessor._id ]">
                {{'tableLabel.buttons.clickHere'| translate}}</div>
              <ng-template #complete>
                <div class="complete">
                  {{'tableLabel.buttons.complete'| translate}}
                </div>
              </ng-template>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
      <div *ngIf="!result">
        <div class="middle">
          {{'message.noData' | translate}}
        </div>
      </div>
    </div>