input[type=text], select {
  width: 100%;
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.filterDropdown{
    width: fit-content ;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}
.active{
    font-weight: 500;
    color:var(--primary-color);
}
.searchBox{
    position: relative;
    width: 100%;
}
.iconOnInput{
    position: absolute;
    right: 5px;
    bottom: 10px;
    color: var(--light-grey-color);
}
.noWrap{
    white-space: nowrap;
}
.solutionCard{
    height: 150px;
}
.floatRight{
    float: right;
}

.solutionBox{
    height: calc(100vh - 260px);
}
.cardheader{
    display: flex;
    align-items: baseline;
    justify-content: space-between
}
.cardIcon{
    font-size: 40px;
    color:  var(--grey-color);
    margin-right: 30px;
}
.flex{
    display: flex;
}