<app-parent-heading [genericHeading]="headings" [startIndex]="3" [showControl]="true"></app-parent-heading>

<div class="col-xs-12 _margin-top ">
  <!-- <div > -->
  <!-- {{ 'headings.selectSolution' | translate}} -->
  <!-- </div> -->
  <!-- <mat-divider></mat-divider> -->
  <div class="_flex-box">
    <div class="_flex-box  flex1">
      <div class="filterDropdown" [matMenuTriggerFor]="menu">
        <span class="noWrap paddingLeft">
          {{selectSolutionType}}
        </span>
        <i class="material-icons">
          arrow_drop_down
        </i>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let type of solutionType" (click)="changeSolutionType(type)"><span
            [ngClass]="{'active':  selectSolutionType === type }">{{type}}</span></button>
      </mat-menu>
      <div class="searchBox">
        <input id="searchSolution" type="text" appDebounceSearch [searchValue]="searchSolution" [debounceTime]="200"
          (debounceSearch)="searchInApi($event)" placeholder="{{'search'| translate}}"
          (keyup)="applyFilter($event.target.value)">
        <div class="iconOnInput">
          <i class="material-icons ">
            search
          </i>
        </div>
      </div>
    </div>
    <div class="   _flex-box _flex-end ">
      <button mat-raised-button (click)="onAddSolution()" color="primary">Add Solutions</button>
    </div>
  </div>
  <div class="col-xs-12 solutionBox">
    <!-- <div class="col-xs-12  ">
      {{selectSolutionType }} solutions
    </div> -->
    <!-- <div class="col-xs-12 col-lg-4 col-md-4 col-sm-6 _margin-top" *ngFor="let solution of solutions">
      <mat-card class="solutionCard col-xs-12 ">
        <div class=" flex _justify-content-space-between">
          <div class="cardheader">
            <i class="material-icons cardIcon">
              {{solution.icon}}
            </i>
            <h4>{{solution.title}}</h4>
          </div>
          <mat-checkbox class="floatRight" (click)="insertSolution()"></mat-checkbox>

        </div>
        <div class="col-xs-8 col-xs-offset-2">
          {{solution.description}}
        </div>
        <div class="col-xs-12 _noMarginPadding">
          <button color="primary" mat-button class="floatRight" (click)="$event?.stopPropagation();solutionDetails(solution) ">
            <i class="material-icons cardIcon">
                info
            </i>
            more...
          </button>
        </div>
      </mat-card>
    </div> -->
<div class="tableData mat-elevation-z8 _margin-top">
    
    <table mat-table
    [dataSource]="dataSource" multiTemplateDataRows
    class="">

<ng-container matColumnDef="select">
 <th mat-header-cell *matHeaderCellDef>
   <mat-checkbox (change)="$event ? masterToggle() : null"
                 [checked]="selection.hasValue() && isAllSelected()"
                 [indeterminate]="selection.hasValue() && !isAllSelected()"
                 [aria-label]="checkboxLabel()">
   </mat-checkbox>
 </th>
 <td mat-cell *matCellDef="let row">
   <mat-checkbox (click)="$event.stopPropagation()"
                 (change)="$event ? toggleRow(row) : null"
                 [checked]="selection.isSelected(row)"
                 [aria-label]="checkboxLabel(row)">
   </mat-checkbox>
 </td>
</ng-container>
<ng-container matColumnDef="title">
 <th mat-header-cell *matHeaderCellDef> title </th>
 <td mat-cell *matCellDef="let element"> {{element.title}} </td>
</ng-container>

<ng-container matColumnDef="description">
 <th mat-header-cell *matHeaderCellDef> Description </th>
 <td mat-cell *matCellDef="let element"> {{element.description}} </td>
</ng-container>



<ng-container matColumnDef="expandedDetail">
 <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
   <div class="example-element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
     <!-- <div class="example-element-diagram">
       <div class="example-element-position"> {{element.position}} </div>
       <div class="example-element-symbol"> {{element.symbol}} </div>
       <div class="example-element-name"> {{element.name}} </div>
       <div class="example-element-weight"> {{element.weight}} </div>
     </div>
     <div class="example-element-description">
       {{element.description}}
       <span class="example-element-description-attribution"> -- Wikipedia </span>
     </div> -->
     Solution Details
   </div>
 </td>
</ng-container>
<tr mat-header-row *matHeaderRowDef="displayedColumns ;sticky: true"></tr>
<tr mat-row *matRowDef="let element; columns: displayedColumns;"
   class="example-element-row"
   [class.example-expanded-row]="expandedElement === element"
   (click)="expandedElement = expandedElement === element ? null : element ;" >
</tr>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" ></tr>
</table>
</div>

  </div>
 

</div>