<div class="wrapper">
  <app-parent-heading [genericHeading]="headings"></app-parent-heading>


  <div class="col-xs-12 col-md-6 col-lg-6 col-sm-12 marginTopBottom">
    <mat-card class="col-xs-12 ">
      <h4>{{'headings.uploadAssessorCsv' | translate}} :-</h4>
      <div class="_flex-box _justify-content-center _justify-content-space-between  col-sm-6">
        <label for="assessor-file-upload" class="custom-file-upload _flexbox ">
          <div>
            <i class="material-icons paddingContent">
              cloud_upload
            </i>
          </div>
          <div class="paddingContent">
            {{'labels.uploadCsv'| translate}}
          </div>
        </label>
        <input id="assessor-file-upload" (change)="uploadAssessor($event.target.files)" type="file"
          accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          #assessorfiles />
      </div>
      <div class="_flex-box  _flex-end col-sm-6">
        <button mat-raised-button class="_primary-btn" [disabled]="!(assessorFileSelected)"
          (click)="csvUpload('assessors'); files.value=null">{{'buttons.upload' | translate}}</button>
      </div>
      <div class="fileList" *ngIf="showAssessorStatus">
        <h5>Selected File List</h5>
        <div *ngFor="let fileitem of assessorFile ; let i = index">
          <div class="_flex-box _justify-content-center _justify-content-space-between ">
            <div>
              {{i+1}}. &nbsp;&nbsp; {{fileitem.name}}
            </div>
            <div>
              <i class="material-icons _cursor-pointer" (click)="deleteAssessorFile(i , assessorFile)">
                delete
              </i>
            </div>

          </div>
        </div>
      </div>
      <progress-bar *ngIf="fileUpload && showAssessorStatus " [progress]="percentDone" [color]="'#008000'">
      </progress-bar>
    </mat-card>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-6 col-sm-12 marginTopBottom">
      <mat-card class="col-xs-12 ">
      <h4>{{'headings.uploadSchoolCsv' | translate}} :-</h4>

      <div class="_flex-box _justify-content-center _justify-content-space-between  col-sm-6">
        <label for="school-file-upload" class="custom-file-upload _flexbox ">
          <div>
            <i class="material-icons paddingContent">
              cloud_upload
            </i>
          </div>
          <div class="paddingContent">
            {{'labels.uploadCsv'| translate}}
          </div>
        </label>
        <input id="school-file-upload" (change)="uploadSchools($event.target.files)" type="file"
          accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          #schoolfiles />
      </div>
      <div class="_flex-box  _flex-end  col-sm-6">
        <button mat-raised-button class="_primary-btn" [disabled]="!(schoolFileSelected)"
          (click)="csvUpload('schools'); files.value=null">{{'buttons.upload' | translate}}</button>
      </div>
      <div class="fileList" *ngIf="showSchoolStatus">
        <h5>Selected File List</h5>
        <div *ngFor="let fileitem of schoolFile ; let i = index">
          <div class="_flex-box _justify-content-center _justify-content-space-between ">
            <div>
              {{i+1}}. &nbsp;&nbsp; {{fileitem.name}}
            </div>
            <div>
              <i class="material-icons _cursor-pointer" (click)="deleteSchoolFile(i , schoolFile)">
                delete
              </i>
            </div>

          </div>
        </div>
      </div>
      <progress-bar *ngIf="fileUpload && showSchoolStatus " [progress]="percentDone" [color]="'#008000'">
      </progress-bar>
    </mat-card>

  </div>

</div>