@import '../../../../assets/scss/varibles.scss';

.sideNavSubheading{
     font-size: 15px;
     padding: 10px 23px;
     min-height: 40px;
     display: flex;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.subHeading{
    color:$grey-color;
}

.subHeading:hover{  
    color:white;
    background-color: $primary-color;
}
.active {
    background-color:$primary-color;
    color: white;
}

.heading{
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
}
.overFlowHidden{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}